body {
    cursor: pointer;
}

.search-form {
    width: 400px;
    margin: auto;
    margin-top: 100px;
}


.search-symbol {
    width: 294px;
    height: 200px;
    resize: none;
    border-radius: 10px;
    background-color: rgb(145, 212, 190);
}

.search-button {
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(126, 163, 185);
}

.search-button:hover {
    background-color: rgb(97, 129, 170);
}

.box-text{
    width: 300px;
    margin: auto;
}

.text {
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
}